html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
}

button {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba(18, 44, 80, 0.15);
}